<div id="container">
    <div id="left">
        <div id="welcomeText">
                <h1 id="mainText">lorem ipsum</h1>
                <p id="oneQuote">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
        </div>
        <div id="startGuestMode">
            <button class="btn btn-success">Tech</button>
            <button class="btn btn-success">TimeSlot</button>
            <button class="btn btn-success">Search</button>
        </div>
    </div>
    <div id="right">
        <div id="startingSMode" [routerLink]="['student']">

        </div>
        <div id="startingMMode" [routerLink]="['mentor']">

        </div>
    </div>

</div>

