<div id="container">
    <div id="upperPart">
        <div id="guestPart">
            <div id="welcomeInfo">
              <h1>{{title}}</h1>
              <h3>Lorem ipsum dolor</h3>
              <h5> sit amet, consectetur adipiscing elit. Immo videri fortasse. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Pugnant Stoici cum Peripateticis. Neminem videbis ita laudatum, ut artifex callidus</h5>
            </div>
            <div id="searchBoxPart">
              <div id="searchContent">
                <span id="technologySpace">technologySpace</span>
                <span id="timeSlotSpace">timeSlot</span>
                <span id="searchButton">Search</span>
              </div>
            </div>
            <div id="searchedContent"></div>
        </div>
        <div id="studentPart">
            <div id="imageSPart"></div>
            <div id="textSPart"></div>
        </div>
        <div id="mentorPart">
            <div id="textMPart"></div>    
            <div id="imageMPart"></div>
        </div>
    </div>
    <div id="lowerPart">
    </div>
</div>