<div style="display: flex; flex-direction: column; background-color:white; padding: 5%">
    <div style="flex: 2; display: flex; align-items: flex-end;">
        <h1 style="font-size: 3em; font-family: 'Montserrat', sans-serif;">your personal information</h1>
    </div>
    <div style="flex: 5; font-family: 'Quicksand', sans-serif;">
        <form>
            
            <button type="submit" class="btn btn-primary"  [routerLink]="['/student']">Submit</button>
          </form>
    </div>
</div>